.card{
    width:120px;
    height: 300px;
    background-color: pink;
    border-radius: 8px;
    border: 4px solid pink;
    box-shadow: 1px 1px 4px 1px rgb(0, 0, 12);

}

.card.back{
    background-color: aqua;
}
.stats-list{
    margin: 0;
    padding: 0 8px;
}

.card-list.opponent{
direction: rtl;
}

.stats-list-item{
    list-style: none;
    display: flex;
    justify-content: space-between;

}

.game{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.card-list{
    display: flex;
    flex-direction: row-reverse;
}



.center-area{
    text-align: center;
    align-self: center;
    min-width: 10vw;
}

.card-list-item.player{
    margin-left: calc(2vw - 140px);

}

.card-list-item.opponent{
    margin-right: calc(2vw - 140px);
    direction: ltr;
}

.play-button{
    width:80px;
    height: 40px;
    align-self: center;
    font-size: larger;
    font-weight: bold;
}

.stat-list-item.selected{
    outline: 1px solid black;
    background-color: blueviolet;
}


.card-list-item.player .stat-list-item:hover{
    outline: 5px dashed violet;
    background-color: blue;
}

.hand{
    display: flex;
    flex-direction: column;
    min-width: 40vw;
}

.hand.player > h2{
    align-self: end
}

a:link, a:visited{
    background-color: red;
    color: white;
    padding: 13px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 10vw;

} 

a:hover, a:active{
    background-color: rgb(210,53,128);
}

#canvas{
    background-color: blue;
}